.login{
    margin: 120px auto 0px auto;
    min-height: 420px;
    max-width: 420px;
    padding: 40px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0px;
    box-sizing: border-box;
}